* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: 'Inter', sans-serif;
}

nav {
  width: 100%;
  height: 100px;
  background-color: lightblue;
  box-shadow: 2px 0px 3px rgba(0, 0, 0, 0.1);
}

hr {
  width: 100%;
  margin: 10px 0px;
}

.inner-nav {
  margin: 0 auto;
  width: 75%;
  display: flex;
  justify-content: space-between;
}

.inner-nav img {
  height: 100px;
}

.inner-nav .menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.inner-nav a {
  text-decoration: none;
  font-size: 24px;
  color: black;
}

.inner-nav a:hover {
  color: blue;
  transition: all 0.1s;
}

.inner-nav a.active {
  color: blue;
}

body {
  background-image: url('/assets/background.jpg');
  background-attachment: fixed;
  background-size: cover;
  backdrop-filter: blur(4px);
}

.carousel {
  width: 90%;
  margin: 10px auto;
}

.content {
  max-width: 800px;
  margin: 10px auto;

  background-color: white;
  padding: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.content p {
  margin: 15px 0px;
  text-align: justify;
}

.content .underline {
  text-decoration: underline;
}

.content .center {
  text-align: center;
}

.content .muted {
  font-size: small;
}

.content .bold {
  font-weight: bold;
}

.content .text-blue {
  color: #548dd4;
}

.content h1,
.content h2 {
  text-transform: uppercase;
  margin: 10px 0px;
}

.content table {
  width: 100%;
}

.content tbody.striped tr:nth-child(odd) {
  background-color: #c0c0c0;
}

.content table td,
.content table th {
  padding: 20px 30px;
  border: 1px solid black;
}

.content table th {
  text-align: center;
}

.content table th.header {
  background-color: blue;
  text-transform: uppercase;
  color: white;
}

.content table .orange {
  background-color: orange;
}

.content table .red {
  background-color: red;
  color: white;
}

.content table .purple {
  background-color: purple;
  color: white;
}

.content table .yellow {
  background-color: yellow;
}

.content table .green {
  background-color: green;
}

.content table.small-table td {
  padding: 5px;
}

.content .callout {
  background-color: #dbe5f1;
  padding: 10px 30px;
  border: 1px solid black;
  border-radius: 5px;
}

.content .callout.lightyellow {
  background-color: #edefd5;
}

.calculator h2 {
  margin-top: 20px;
}

.calculator input[type="number"] {
  width: 100%;
  padding: 1px 2px;
  height: 30px;
}

.calculator input[type="checkbox"] {
  padding: 1px 2px;
  width: 20px;
  height: 20px;
}

.calculator label {
  display: block;
  margin: 10px 0;
}

.calculator button {
  background-color: #0d6efd;
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  border: none;
  border-radius: 5px;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: bold;
}

.calculator .btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.calculator #kitsExtras {
  font-weight: bold;
}

.calculator .input-container {
  display: flex;
  justify-content: space-between;
}

footer {
  background-color: lightblue;
  padding: 30px;
  box-shadow: 2px 0px 3px rgba(0, 0, 0, 0.1);
}

.inner-footer {
  width: 75%;
  margin: 0 auto;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.inner-footer .social-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.inner-footer .social-links a {
  text-decoration: none;
  color: black;
  font-size: 24px;
}

/* https://stackoverflow.com/a/27279246 */
.summary {
  display: flex;
}

.summary .left,
.summary .right {
  flex: 1 0 auto;
}

.summary .dots {
  flex: 0 1 auto;
  margin: 0 5px;
  overflow: hidden;
}

.dots::before {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: clip;
  content: '. . . . . . . . . . . . . . . . . . . . '
    '. . . . . . . . . . . . . . . . . . . . '
    '. . . . . . . . . . . . . . . . . . . . '
    '. . . . . . . . . . . . . . . . . . . . ';
}
