* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: 'Inter', sans-serif;
}

:root {
  --nav-color: #add8e6;
  --text-color: #000000;
  --active-color: blue;
  --background-color: #ffffff;
  --link-color: #0707b4;

  --callout-color: #dbe5f1;
  --striped-color: #c0c0c0;
  --callout-lightyellow-color: #edefd5;
}

.dark {
  --nav-color: #1b4958;
  --text-color: #e8e6e3;
  --active-color: #327af5;
  --background-color: #181a1b;
  --link-color: #328ffb;

  --callout-color: #26292b;
  --striped-color: #3c4143;
  --callout-lightyellow-color: #2d2f12;

  --btn-background: #7b7b7b;
  --btn-text: #ffffff;

  --input-background: #3b3b3b;
}

nav {
  width: 100%;
  height: 100px;
  background-color: var(--nav-color);
  box-shadow: 2px 0px 3px rgba(0, 0, 0, 0.1);
}

hr {
  width: 100%;
  margin: 10px 0px;
}

input {
  background-color: var(--input-background);
}

#switch-theme {
  width: 0;
  height: 0;
  visibility: hidden;
}

label[for="switch-theme"] {
  width: 60px;
  height: 24px;
  position: relative;
  display: block;
  background: #ebebeb;
  border-radius: 24px;
  box-shadow: inset 0px 2px 5px rgba(0, 0, 0, 0.4), inset 0px -2px 5px rgba(255, 255, 255, 0.4);
  cursor: pointer;
  transition: 0.3s;
}

label[for="switch-theme"]:after {
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  top: 2px;
  left: 2px;
  background: linear-gradient(180deg, #ffcc89, #d8860b);
  border-radius: 20px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

label[for="switch-theme"]:active:after {
  width: 32px;
}

label[for="switch-theme"] ion-icon {
  position: absolute;
  width: 20px;
  top: 0;
  z-index: 100;
}

label[for="switch-theme"] .sun {
  top: 3px;
  left: 2px;
  color: #ffffff;
  transition: 0.3s;
}

label[for="switch-theme"] .moon {
  top: 4px;
  left: 38px;
  color: #7e7e7e;
  transition: 0.3s;
}

#switch-theme:checked + label {
  background: #242424;
}

#switch-theme:checked + label:after {
  left: 58px;
  transform: translateX(-100%);
  background: linear-gradient(180deg, #777, #3a3a3a);
}

#switch-theme:checked + label .sun {
  color: #7e7e7e;
}

#switch-theme:checked + label .moon {
  color: #fff;
}

.inner-nav {
  margin: 0 auto;
  width: 75%;
  display: flex;
  justify-content: space-between;
}

.inner-nav img {
  height: 100px;
}

.inner-nav .menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.inner-nav a {
  text-decoration: none;
  font-size: 24px;
  color: var(--text-color);
}

.inner-nav a:hover {
  color: var(--active-color);
  transition: all 0.1s;
}

.inner-nav a.active {
  color: var(--active-color);
}

body {
  background-image: url('../background.jpg');
  background-attachment: fixed;
  background-size: cover;
  backdrop-filter: blur(4px);
  color: var(--text-color);
}

a {
  color: var(--link-color);
}

.carousel {
  width: 75%;
  max-width: 1000px;
  margin: 10px auto;
  background-color: var(--background-color);
  padding: 10px;
  border-radius: 10px;
}

.content {
  max-width: 800px;
  margin: 10px auto;

  background-color: var(--background-color);
  padding: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.content p {
  margin: 15px 0px;
  text-align: justify;
}

.content .underline {
  text-decoration: underline;
}

.content .center {
  text-align: center;
}

.content .muted {
  font-size: small;
}

.content .bold {
  font-weight: bold;
}

.content .text-blue {
  color: #548dd4;
}

.content h1,
.content h2,
.content h3 {
  text-transform: uppercase;
  margin: 10px 0px;
}

.content table {
  width: 100%;
}

.content tbody.striped tr:nth-child(odd) {
  background-color: var(--striped-color);
}

.content table td,
.content table th {
  padding: 20px 30px;
  border: 1px solid var(--text-color);
}

.content table th {
  text-align: center;
}

.content table th.header {
  background-color: blue;
  text-transform: uppercase;
  color: white;
}

.content table .orange {
  background-color: orange;
}

.content table .red {
  background-color: red;
  color: white;
}

.content table .purple {
  background-color: purple;
  color: white;
}

.content table .yellow {
  background-color: yellow;
}

.content table .green {
  background-color: green;
}

.content table.small-table td {
  padding: 5px;
}

.content .callout {
  background-color: var(--callout-color);
  padding: 10px 30px;
  border: 1px solid var(--text-color);
  border-radius: 5px;
}

.content .callout.lightyellow {
  background-color: var(--callout-lightyellow-color);
}

.calculator h2 {
  margin-top: 20px;
}

.calculator input[type='number'], .calculator input[type='text'] {
  width: 100%;
  padding: 1px 2px;
  height: 30px;
}

.calculator input[type='checkbox'] {
  padding: 1px 2px;
  width: 20px;
  height: 20px;
}

.calculator label {
  display: block;
  margin: 10px 0;
}

.calculator button[type='submit'] {
  background-color: #0d6efd;
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  border: none;
  border-radius: 5px;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: bold;
}

.calculator .btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
}

.calculator #kitsExtras {
  font-weight: bold;
}

.calculator .input-container {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-bottom: 10px;
}

.calculator .button {
  font-size: 16px;
  padding: 2px 3px;

  color: var(--btn-text);
  background-color: var(--btn-background);
}

footer {
  background-color: var(--nav-color);
  padding: 30px;
  box-shadow: 2px 0px 3px rgba(0, 0, 0, 0.1);
}

.inner-footer {
  width: 75%;
  margin: 0 auto;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.inner-footer .social-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.inner-footer .social-links a {
  text-decoration: none;
  color: var(--text-color);
  font-size: 24px;
}

/* https://stackoverflow.com/a/27279246 */
.summary {
  display: flex;
}

.summary .left,
.summary .right {
  flex: 1 0 auto;
}

.summary .dots {
  flex: 0 1 auto;
  margin: 0 5px;
  overflow: hidden;
}

.dots::before {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: clip;
  content: '. . . . . . . . . . . . . . . . . . . . '
    '. . . . . . . . . . . . . . . . . . . . '
    '. . . . . . . . . . . . . . . . . . . . '
    '. . . . . . . . . . . . . . . . . . . . ';
}
